<!DOCTYPE html>
<html lang="ru" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Поиск</title>
</head>
<body>
<div layout:fragment="content">
    <form method="post" th:action="@{/}">
        <input name="searchRequest" style="width: 50%" th:value="${searchRequest}" type="text"/>
        <input type="submit" value="Поиск"/>
    </form>
    <!--/*@thymesVar id="rows" type="java.util.List<server.model.pojo.Row>"*/-->
    <!--/*@thymesVar id="fields" type="java.util.List<server.model.ModelService.FieldInfo>"*/-->
    <table class="table" style="margin-top: 15px" th:if="${rows != null}">
        <thead>
        <tr>
            <th>ID</th>
            <th:block th:each="field : ${fields}">
                <th th:text="${field.name}"></th>
            </th:block>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${rows}">
            <td th:text="${row.getId()}"></td>
            <th:block th:each="field : ${fields}">
                <td th:text="${row.getFields().get(field.name)}"></td>
            </th:block>
            <td>
                <a th:href="@{/row/(id=${row.id})}">изменить</a>
            </td>
            <td>
                <a th:href="@{/delete/(id=${row.id})}">удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>