<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">bestPlaces</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <!--    <meta name="description" content="${namedPage.getPageDescription()}"/>-->
    <meta content="#354052" name="theme-color"/>
    <!--    <link rel="shortcut icon" href="${asset:context:/favicon.png}"/>-->
    <link rel="stylesheet" th:href="@{/resources/css/main.css}">
    <link rel="stylesheet" th:href="@{/resources/css/main.min.css}">
    <script th:src="@{/resources/js/jQuery_3.5.1.js}" type="text/javascript"></script>
    <script th:src="@{/resources/js/main.js}" type="text/javascript"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script async="" data-ad-client="ca-pub-8729109398847724"
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body class="layout-cell layout-scrollbar">
<div class="wrapper">
    <!--/*@thymesVar id="tableManager" type="server.model.TableManager"*/-->
    <nav class="sidebar sidebar-sticky">
        <div class="sidebar-content layout-cell layout-scrollbar">
            <a class="sidebar-brand" href="index">
                <img/>
            </a>
            <ul class="sidebar-nav">
                <li class="sidebar-item"
                    th:classappend="${#request.requestURI.toLowerCase().contains('/tablesmanager')} ? 'active' : ''">
                    <a class="sidebar-link" th:href="@{/tablesManager}"><i class="align-middle" data-feather="home"></i>
                        Управление таблицами</a>
                </li>
                <th:block th:if="${!tableManager.getTables().isEmpty()}">
                    <li class="sidebar-item"
                        th:classappend="${#request.requestURI.toLowerCase().contains('/search')} ? 'active' : ''">
                        <a class="sidebar-link" th:href="@{/search}"><i class="align-middle" data-feather="home"></i>
                            Поиск</a>
                    </li>
                    <li class="sidebar-item"
                        th:classappend="${#request.requestURI.toLowerCase().contains('/model')} ? 'active' : ''">
                        <a class="sidebar-link" th:href="@{/model}"><i class="align-middle" data-feather="home"></i>
                            Модель</a>
                    </li>
                    <li class="sidebar-item"
                        th:classappend="${#request.requestURI.toLowerCase().contains('/row')} ? 'active' : ''">
                        <a class="sidebar-link" th:href="@{/row(id=0)}"><i class="align-middle" data-feather="home"></i>
                            Добавить строку</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
    <div class="main">
        <div class="black" id="black_sheet" style="display: none"></div>
        <nav class="navbar navbar-expand navbar-light bg-white">
            <a class="sidebar-toggle d-flex mr-2" id="sidebar">
                <i class="hamburger align-self-center"></i>
            </a>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" sec:authorize="isAnonymous()"
                           th:href="@{/login}">
                            <i class="align-middle mr-2 fas fa-fw fa-sign-in-alt"></i> Вход
                        </a>
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" sec:authorize="isAuthenticated()"
                           th:href="@{/logout}">
                            <i class="align-middle mr-2 fas fa-fw fa-sign-out-alt"></i> Выход
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="content">
            <div class="container-fluid p-0">
                <div class="row" th:if="${error != null}">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            <i class="glyphicon-exclamation-sign"></i>
                            <strong>Ошибка</strong>
                            <span th:text="'Системная ошибка ' + ${error}"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--/*@thymesVar id="persistentFields" type="server.model.pojo.PersistentFields"*/-->
                        <th:block th:if="!${#request.requestURI.toLowerCase().contains('/tablesmanager')}">
                            <div>
                                <select class="form-control"
                                        onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);"
                                        th:with="link=@{/tablesManager/setTable(redirectURI=${T(java.net.URLEncoder).encode(#request.requestURI, 'UTF-8')})}">
                                    <option th:each="table : ${tableManager.getTables()}"
                                            th:selected="${table.equals(persistentFields.getTableName())}"
                                            th:text="${table}"
                                            th:value="${link + '&tableName=' + table}">
                                    </option>
                                </select>
                            </div>
                            <br/>
                        </th:block>
                        <div class="card" layout:fragment="content"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>